<p>Tasks</p>
<div *ngIf="(taskService.tasks$ | async) as taskList">
  <div *ngFor="let task of taskList" class="shadow-md my-5 p-5">
    <div class="flex justify-between">
      <div>
        <p-checkbox [(ngModel)]="task.completed" [binary]="true" />
        <label for="ny" class="ml-2" [ngClass]="{ 'strikethrough': task.completed }">{{task.title}}</label>
        <br />
        <br />
      </div>

      <div class="w-3"></div>
      <p-button
        icon="pi pi-angle-right"
        severity="secondary"
        variant="text"
        (click)="viewTask(task)"
      ></p-button>
    </div>
    <div class="flex flex-row">
      <div *ngIf="task.categoryDetails">
        <app-small-container
          [tag]="''"
          [color]="task.categoryDetails.color"
          [title]="task.categoryDetails.label"
        ></app-small-container>
      </div>
      <div class="divider" *ngIf="task.categories">|</div>

      <!-- <app-small-container [tag]="" [color]="'aqua'"></app-small-container> -->
      <app-small-container
        [tag]="'' + task.subTasks.length"
        [color]="'#DDDAD0'"
        [title]="'Subtasks'"
      ></app-small-container>
    </div>
  </div>
</div>
<div class="empty" *ngIf="(taskService.tasks$ | async)?.length === 0">
  <h2>No Task Found</h2>
</div>
