<div *ngIf="(taskService.currentTask$ | async) as currentTask">
  <div class="flex justify-between">
    <b>Task:</b>
    <p-selectbutton
      [options]="statusOptions"
      [(ngModel)]="currentTask.completed"
      optionLabel="label"
      optionValue="value"
      aria-labelledby="basic"
    />
  </div>
  <br />
  <input
    type="text"
    pInputText
    placeholder="Title"
    [(ngModel)]="currentTask.title"
    fluid
  />
  <br />
  <textarea
    rows="5"
    cols="30"
    pTextarea
    placeholder="Description"
    [(ngModel)]="currentTask.description"
    fluid
  ></textarea>
  <p-select
    [options]="(taskService.categories$ | async ) ?? defaultCategories"
    [(ngModel)]="currentTask.categories"
    optionLabel="label"
    optionValue="value"
    placeholder="Select a Category"
    (onChange)="onChangeCategory($event)"
    fluid
  />
  <br />
  <br />

  <b>Subtasks</b>

  <div class="flex justify-between">
    <input
      type="text"
      pInputText
      placeholder="Add Subtasks"
      [(ngModel)]="newSubTask"
      fluid
    />
    <p-button
      label="+"
      severity="secondary"
      (click)="addSubTask(newSubTask)"
    ></p-button>
  </div>
  <div *ngFor="let subTask of currentTask.subTasks">
    <p-checkbox [(ngModel)]="subTask.completed" [binary]="true" />
    <label class="ml-2" [ngClass]="{ 'strikethrough': subTask.completed }"
      >{{subTask.name}}</label
    >
  </div>
  <br />
  <div class="flex justify-end">
    <p-button
      label="Delete Task"
      severity="secondary"
      (click)="removeTask(currentTask.id)"
      *ngIf="isCreatedTask"
    ></p-button>
    <div class="w-3"></div>
    <p-button
      label="Save Changes"
      (click)="updateTask(currentTask)"
      *ngIf="isCreatedTask"
    ></p-button>
    <p-button
      label="Create"
      (click)="createTask(currentTask)"
      *ngIf="!isCreatedTask"
    ></p-button>
  </div>
  <br />
</div>
